# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.eggs/
*.egg-info/

# Environment
.env

# Logs
logs/
*.log

# Other
.DS_Store
